doctype html
html

  head
    title Ashish Dance Academy | Best Dance Academy in Delhi
    block scripts
    block style
  body
    block head
    nav#navbar
        ul
            li #[a(href='/') Home] 
            li #[a(href='/') Join Us]
            li #[a(href='/') Schedule]
            li #[a(href='/') About]
            li#lastli #[a(href='/contact') Contact Us]
    block content
    footer#footer
            | &copy; Copyright 2020 AshishDanceAcademy.com | All Rights reserved
            a(id="blogs" href="#")
                |Our Blogs